header {
  .first-div {
    width: 100%;
    min-height: 45vh;
    background-repeat: no-repeat;
    background-size: 100% 45vh;
    text-align: center;
    padding: 3rem 0;
    position: relative;
    nav {
      position: absolute;
      top: 3rem;
      left: 2rem;
      .dropback {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(5px);
        animation: from-top 0.4s linear;
        background-color: #45454559;
        display: none;
        ul {
          display: flex;
          list-style: none;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding: 2rem;
          background-color: white;
          .close {
            margin-right: 2.8rem;
          }
        }
      }
      .display-none {
        display: block;
      }
    }
    .control {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      div {
        background-color: black;
        padding: 0.8rem 1.5rem;
      }
    }
  }
  .seconed-div{
      min-height: 45vh;
      width: 100%;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      h1{
          font-size: 1.8rem;
      }
      P{
          font-size: 1.12rem;
          line-height: 1.4rem;
          color: $Dark-Gray;
      }
      .shop-now{
          display: flex;
          gap: 1rem;
          margin-top: 2rem;
          h2{
              font-size: 1.2rem;
              letter-spacing: 0.5rem;
          }
      }
    }
}
//-----------------------------------------------------------
@include desktop {
    header{
        min-height: 45vh;
        width: 100;
        display: grid;
        grid-template-columns: 60% 40% ;
        .first-div{
            grid-column: 1;
            height: 534px;
            background-size: 100% 100%;
            text-align: start;
            display: flex;
            gap: 2rem;
            padding: 3rem;
            .logo{
                width: 15%;
                height: fit-content;
                padding: 1rem;
                img{
                    width: 100%;
                    
                }
            }
            nav {
                position: initial;
                width: 40%;
                .ham{
                    display: none;
                }
                .dropback {
                  position: initial;
                  display: initial;
                  ul {
                    padding: 1rem;
                    background-color: transparent;
                    color: white;
                    li{
                        font-size: 1.3rem;
                        font-weight: 400;
                        cursor: pointer;
                        position: relative;
                        &:hover{
                            &::before{
                                position: absolute;
                                content: '';
                                width: 50%;
                                height: 0.2rem;
                                bottom: -1rem;
                                left: 50%;
                                background-color: white;
                                transform: translate(-50%,0);
                            }
                        }
                    }
                    .close {
                      display: none;
                    }
                  }
                }
            }
            .control {
                bottom: 0%;
                right: 0%;
                left: 100%;
                div {
                  padding: 1.8rem 2rem;
                  transition: all 0.5s ease;
                  cursor: pointer;
                  &:hover{
                      background-color: #000000b3;
                  }
                }
            }
            
        }
        .seconed-div{
            grid-column: 2;
            padding: 4rem 6.5rem;
            h1{
                font-size: 2.4rem;
            }
            .shop-now{
                cursor: pointer;
                h2{
                    letter-spacing: 0.7rem;
                }
            }
        }


    }
}

@keyframes from-top {
  0% {
    transform: translate(0%, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
